@media screen and (max-width:992px){
  
}

@media screen and (max-width:576px){
  
}

@media screen and (min-width:350px){
  
}
body {
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: black;
}

.swiper-button-next,
.swiper-button-prev {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  background-color: white;
  font-weight: bold;
  color: #1993b8;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #1993b8;
  color: white;
}

.swiper-button-next::after,
.swiper-button-next::before,
.swiper-button-prev::after,
.swiper-button-prev::before {
  font-size: 28px !important;
}

.swiper-pagination-bullet-active {
  width: 60px !important;
  border-radius: 25px !important;
}

.swiper-pagination-bullet {
  background-color: #1993b8;
}
